.tangible-field-example-settings {

 .tangible-plugin-settings-tab { 
    max-width: 100%; 
  }

  .tangible-settings-row { 
    padding: 10px 0px; 
  }

  .tf-example-container { 
    display: flex; 
  }

  .tf-example-field > ul { 
    list-style: circle; 
    padding: 10px;

    ul {
      list-style: square; 
      padding: 5px;
      padding-left: 40px;
    }
  }

  .tf-example-list { 
    width: 20%; 
    padding-top: 20px; 
  }

  .tf-example-field { 
    width: 80%; 
  }

  .tf-context-select-container {
    padding: 20px 0px;
  }

}


